.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.pricing-info {
  display: block;
}
@media (min-width: 48em) {
  .pricing-info {
    display: inline;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
  line-height: 1.73;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #fff;
  background-color: #ff7979;
  background-image: url(/images/bg-intro-mobile.png);
  background-position: top center;
  background-size: auto;
}
@media (min-width: 90em) {
  body {
    background-image: url(/images/bg-intro-desktop.png);
  }
}

main {
  padding: 5.5rem 1.5rem 4.25rem;
  min-height: 100vh;
  max-width: 33.75rem;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
@media (min-width: 90em) {
  main {
    padding: 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    max-width: 69.5625rem;
  }
}

@media (min-width: 90em) {
  .text {
    max-width: 32.8125rem;
    width: 100%;
  }
}

.text__title {
  font-size: 1.75rem;
  line-height: 1.3;
  font-weight: 700;
  text-align: center;
}
@media (min-width: 48em) {
  .text__title {
    font-size: 3.125rem;
    line-height: 1.1;
    letter-spacing: -0.03125rem;
  }
}
@media (min-width: 90em) {
  .text__title {
    text-align: left;
  }
}

.text__subtitle {
  margin-top: 1rem;
  line-height: 1.65;
  font-weight: 500;
  text-align: center;
}
@media (min-width: 90em) {
  .text__subtitle {
    text-align: left;
  }
}

@media (min-width: 90em) {
  .contact {
    max-width: 33.75rem;
    width: 100%;
  }
}

.contact__copy {
  background-color: #5e54a4;
  padding: 1.125rem;
  font-size: 0.9375rem;
  line-height: 1.75;
  letter-spacing: 0.016875rem;
  text-align: center;
  border-radius: 0.625rem;
  box-shadow: 0px 5px rgba(94, 84, 164, 0.5);
}
.contact__copy span {
  font-weight: 700;
}

.registration-form {
  background-color: #fff;
  border-radius: 0.625rem;
  padding: 1.5rem;
  margin-top: 1.5rem;
}

.input-group {
  position: relative;
  margin-bottom: 0.5rem;
}
.input-group .error-icon,
.input-group .error-message {
  display: none;
}
@media (min-width: 48em) {
  .input-group {
    margin-bottom: 1.5rem;
  }
}
.input-group input {
  padding: 1rem 1.5rem;
  border: 1px solid #dedede;
  border-radius: 0.3125rem;
  width: 100%;
  color: #3d3b48;
  font-size: 0.9375rem;
  line-height: 1.75;
  letter-spacing: 0.015625rem;
  margin-bottom: 0.25rem;
}
.input-group input:focus {
  outline: 2px solid #ff7979;
  outline-offset: -2px;
}
@media (min-width: 48em) {
  .input-group input {
    margin-bottom: 0.5rem;
  }
}
.input-group .error-icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
@media (min-width: 48em) {
  .input-group .error-icon {
    right: 2rem;
  }
}
.input-group .error-message {
  color: #ff7979;
  font-size: 0.6875rem;
  font-weight: 500;
  line-height: 1.55;
  font-style: italic;
  text-align: right;
}
.input-group.error input {
  border: 2px solid #ff7979;
  color: #ff7979;
}
.input-group.error input::-moz-placeholder {
  color: #ff7979;
}
.input-group.error input::placeholder {
  color: #ff7979;
}
.input-group.error .error-icon,
.input-group.error .error-message {
  display: block;
}

.submit {
  width: 100%;
  padding: 1rem 2rem;
  background-color: #38cc8b;
  color: #fff;
  font-size: 0.9375rem;
  letter-spacing: 0.0625rem;
  font-weight: 600;
  border-radius: 0.3125rem;
  box-shadow: 0px 5px #01b801;
  cursor: pointer;
  transition: background-color 0.3s;
}
.submit:hover {
  background-color: #61d6a3;
}

.contact__terms {
  margin-top: 0.5rem;
  color: #bab7d4;
  line-height: 1.9;
  font-size: 0.6875rem;
  font-weight: 500;
  text-align: center;
}
.contact__terms a {
  color: #ff7979;
  font-weight: 700;
}